<section>
    <form class="form signUpForm">
        <section class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail" aria-describedby="email">
        </section>
        <section class="mb-3">
            <label for="inputUser" class="form-label">Username</label>
            <input type="text" class="form-control" id="inputUser">
        </section>
        <section class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword">
        </section>
        <section class="mb-3">
            <label for="showPass" class="form-check-label">Show Password</label>
            <input type="checkbox" class="form-check-input" id="showPass">
        </section>
        <button type="submit" class="btn" id="signUpBtn">Sign Up</button>

    </form>
</section>

<script src="../public/js/signup.js"></script>